<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sirius="http://sirius.org/schema/sirius"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://sirius.org/schema/sirius 
                        http://sirius.org/schema/sirius/sirius.xsd ">



   <bean id= "personImpl" class = "org.sirius.spring.schema.PersonImpl"/>
	<sirius:service interface="org.sirius.spring.schema.Person" ref = "personImpl"></sirius:service>
	<sirius:server  port ="18090" protocol = "netty" ></sirius:server>
	<sirius:registry id = "one"></sirius:registry>

</beans>