<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sirius="http://sirius.org/schema/sirius"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://sirius.org/schema/sirius 
                        http://sirius.org/schema/sirius/sirius.xsd ">



   
	<sirius:reference id="apple"   interface="org.sirius.spring.Apple" registry ="第一个" >
	   <sirius:method name = "get" timeout = "6077000">
	   <sirius:parameter key = "5个" value= "粒d子"/>
	     <sirius:argument index ="4"></sirius:argument>
	   </sirius:method>
	   <sirius:method name = "eat" timeout = "30000">
	     <sirius:argument index ="0" callback = "true"></sirius:argument>
	   </sirius:method>
	</sirius:reference>
	<sirius:server  port ="2000" protocol = "netty"></sirius:server>
	<sirius:registry id = "第一个"></sirius:registry>
	<sirius:registry id = "第二个"></sirius:registry>

</beans>