<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sirius="http://sirius.org/schema/sirius"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://sirius.org/schema/sirius 
                        http://sirius.org/schema/sirius/sirius.xsd ">





	<bean id="personImpl" class="org.sirius.spring.schema.PersonImpl" />
	<bean id="shopImpl" class="org.sirius.spring.test.ShopImpl" />
	<sirius:service interface="org.sirius.spring.schema.Person" ref="personImpl"></sirius:service>

	<sirius:service interface="org.sirius.spring.test.Shop" ref="shopImpl"></sirius:service>

	<sirius:server port="18090" protocol="netty"></sirius:server>

	<sirius:registry protocol="zookeeper" address="27.22.170.45:2181"></sirius:registry>
	
	

</beans>