<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sirius="http://sirius.org/schema/sirius"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://sirius.org/schema/sirius 
                        http://sirius.org/schema/sirius/sirius.xsd ">



	<sirius:reference id="person"   interface=" org.sirius.spring.schema.Person">
	   <sirius:method name = "eat" timeout = "30000">
	     <sirius:argument index ="0" callback = "true"  retry = "true"  ></sirius:argument>
	   </sirius:method>
	</sirius:reference>
	<sirius:reference id="shop"   interface="org.sirius.spring.test.Shop" >
	   <sirius:method name = "buyApple" timeout = "3000" >
	   </sirius:method>
	</sirius:reference>
	<sirius:registry address = "127.0.0.1:20080"></sirius:registry>
</beans>